body{
    margin: 0px;
    padding: 0px;
    font-family: "Bree Serif", serif;
}
header{
    display: flex;
    justify-content: space-between;
    background: #e6dada;
}
header::before{
    content: '';
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('./images/wallpaperflare.com_wallpaper.jpg');
}
.logo-item{
    margin: 4px;
}
.logo-item img{
    background-color: rgb(222, 239, 239);
    display: block;
    height: 63px;
    width: 66px;
    border-radius: 35px;
}
.middle{
    display: flex;
    justify-content: center;
    
}
.navbar{
    display: flex;
    list-style: none;
    align-items: center;
    /* background-color: aqua; */
    padding-right: 42px;
}
.navbar a{
    text-decoration: none;
    margin: 15px;
    color: white;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

.container{
    display: inline-block;
    background: #cebfbf;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    margin-top: 134px;
    margin-left: 126px;  
}
.form-group{
    display: flex;
    flex-direction: column;
    
}
.form-group input{
    margin: 4px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 5px;
}
.btn-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

